.about-us-box {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.feedback-container {
    max-width: 600px;
    margin: 50px auto;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.toggle-buttons label {
    margin: 0 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Weißer Hintergrund */
    color: black; /* Schwarzer Text */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1050;
    text-align: center;
    display: none; /* Unsichtbar bis aktiv */
    max-width: 400px;
    word-wrap: break-word;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.popup-header .close {
    font-size: 18px;
    cursor: pointer;
    color: #aaa;
    border: none;
    background: none;
    font-weight: bold;
}

.popup-header .close:hover {
    color: #000;
}

.popup-body {
    margin-bottom: 0; /* Kein zusätzlicher Abstand */
}
